oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v19.0.0
oracle.install.option=INSTALL_DB_SWONLY
UNIX_GROUP_NAME={{ oinstall_group }}
INVENTORY_LOCATION={{ oracle_inventory }}
ORACLE_BASE={{ oracle_base }}
ORACLE_HOME={{ oracle_home }}
oracle.install.db.InstallEdition=EE
oracle.install.db.OSDBA_GROUP={{ dba_group }}
oracle.install.db.OSOPER_GROUP={{ dba_group }}
oracle.install.db.OSBACKUPDBA_GROUP={{ dba_group }}
oracle.install.db.OSDGDBA_GROUP={{ dba_group }}
oracle.install.db.OSKMDBA_GROUP={{ dba_group }}
oracle.install.db.OSRACDBA_GROUP={{ dba_group }}
oracle.install.db.config.starterdb.type=GENERAL_PURPOSE
oracle.install.db.config.starterdb.globalDBName={{ db_name }}
oracle.install.db.config.starterdb.SID={{ db_sid }}
oracle.install.db.config.starterdb.characterSet={{ db_character_set }}
DECLINE_SECURITY_UPDATES=true

